# Include database files
include database/mlst/bin/mlst
include database/mlst/perl5/*
include database/serotypefinder/serotypefinder.py
include database/serotypefinder/serotypefinder_db/*

# Recursive inclusion for database directories
recursive-include database/mlst *
recursive-include database/serotypefinder *

# Include license and documentation
include LICENSE
include README.md
